mixin header
		header.header
			.header__sub-text #{pagesubtitle}
			.header__main-text #{pagetitle}
			.header__logo
				.header__logo-left
				.header__logo-centr
					img(src='./assets/images/logotype.jpg' alt='#')
				.header__logo-right