@font-face {
  font-family: "Francois One";
  src: url(./../fonts/FrancoisOne-Regular.ttf);
}

@font-face {
  font-family: "PT Sans";
  src: url(./../fonts/PTSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(./../fonts/PTSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

:root {
  --text-color: #000000;
  --white-color: #ffffff;
  --siryi-color: #e6e6e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  z-index: 9999;
}

.header__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  max-width: 240px;
}

.left__nav {
  display: flex;
  flex-direction: row;
}

.header__nav {
  padding-left: 40px;
}

.upper__li {
  display: inline-block;
  font-family: "Francois One";
  text-transform: uppercase;
}

/* MAIN */

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-top: 129px;
  align-items: flex-start;
  width: 80%;
}

.sidebar {
  width: 35%;
  padding-top: 10px;
  position: sticky;
  top: 59px;
}

.wrapper__content {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.sidebar__li {
  width: 100%;
  display: inline-block;
  margin-bottom: 50px;
  border-bottom: solid 2px var(--white-color);
  position: relative;
}

.upline {
  width: 100px;
  height: 8px;
  background-color: var(--text-color);
  border-radius: 4px;
}

.maintxt {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "Francois One";
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 33px;
  font-family: "PT Sans";
}

.spacetxt {
  padding-top: 25px;
}

.pzdc {
  background-color: #dadada;
}

sub {
  padding-left: 10px;
}

.intro {
  display: flex;
  padding-bottom: 35px;
}

.wrapper__content1 {
  margin-bottom: 70px;
}

.shestrnya {
position: relative;
}

.shestimg {
  position: fixed;
  width: 660px;
  height: 660px;
  z-index: -1;
  fill: var(--siryi-color);
  right: -50px;
}

.sidebar__li::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 0;
  height: 2px;
  background-color: var(--siryi-color);
  transition: width 0.8s ease-in-out, right 0.8s ease-in-out;
}

.sidebar__li:hover:after {
  width: 100%;
  right: 0;
}

.boots {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
}

.littleboots {
  padding-left: 20px;
}

.userslogo {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border-top: solid 2px var(--siryi-color);
  border-bottom: solid 2px var(--siryi-color);
  margin-bottom: 60px;
}

.firstrow,
.secondrow {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 10px;
}

.sponsors {
  max-width: 270px;
  height: 130px;
  margin: 10px;
  background-color: var(--siryi-color);
  display: flex;
}

.logosvg {
  min-width: 240px;
  fill: var(--text-color);
}

.logosvg:hover {
  fill: var(--siryi-color);
}

.skype:hover .skype__logo {
  background-color: var(--text-color);
  fill: var(--white-color);
}

.shopify__logo,
#sumka {
  fill: var(--text-color);
}

#bukva {
  fill: var(--white-color);
}

.shopify:hover .shopify__logo {
  background-color: var(--text-color);
  fill: var(--white-color);
}

.shopify:hover #sumka {
  fill: var(--white-color);
}

.shopify:hover #bukva {
  fill: var(--text-color);
}

.instagram:hover .instagram__logo {
  background-color: var(--text-color);
  fill: var(--white-color);
}

.facebook:hover .facebook__logo {
  background-color: var(--text-color);
  fill: var(--white-color);
}

.pinterest:hover .pinterest__logo {
  background-color: var(--text-color);
  fill: var(--white-color);
}

.pinterest:hover #bukva {
  fill: var(--text-color);
}

.wix:hover .wix__logo {
  background-color: var(--text-color);
  fill: var(--white-color);
}

.wix:hover #bukva {
  fill: var(--text-color);
}

.salesforce:hover .salesforce__logo {
  background-color: var(--text-color);
  fill: var(--white-color);
}

.salesforce:hover #bukva {
  fill: var(--text-color);
}

.soundcloud:hover .soundcloud__logo {
  background-color: var(--text-color);
  fill: var(--white-color);
}
