- var maintitle = 'main'
- var pagetitle = 'ourteam'
- var pagesubtitle = 'the geniuses behind our work'
- var mainimg = 'photo.jpg'
- var nameblog = 'Sahariar Kabir'
- var aboutblog = 'Frontend Developer'
- var maintext = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus dui sit amet ligula efficitur, sit amet lacinia massa dictum. Etiam accumsan felis a nunc facilisis, ut euismod lacus placerat. Praesent rutrum eget massa a convallis. Nam vitae augue malesuada, accumsan mauris ut, consectetur.'