@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}
.wrapper{
  overflow: hidden;
}
.background {
  background-image: linear-gradient(
  45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
  width: 100%;
  height: 100%;
  z-index: 19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

#firstblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#firstblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.button-block {
  position: relative;
}

.center-button {
  transform: translate(-50%, -50%);
  z-index: 20;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 4px solid grey;
  margin-top: 80px;
  cursor: pointer;
  transition: 2s;
  position: absolute;
  font-family: 'El Messiri', sans-serif;
}

.center-button:hover {
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  font-family: 'El Messiri', sans-serif;
}

.center-button::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: black;
  border-radius: 50%;
  opacity: 0.2;
  transform: scaleY(-1);
  transition: opacity 0.3s ease-in-out;
}

.firstq {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backgorund__text {
  color: white;
  font-size: 70px;
  font-family: 'El Messiri', sans-serif;
}

.backgroundtwo {
  width: 100%;
  height: 100%;
  z-index: 17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(
  225deg,
  hsl(240deg 100% 20%) 0%,
  hsl(289deg 100% 21%) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
}

#secondblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#secondblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.backgroundthre {
  width: 100%;
  height: 100%;
  z-index: 16;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(
    315deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 11%,
    hsl(315deg 100% 27%) 22%,
    hsl(329deg 100% 36%) 33%,
    hsl(337deg 100% 43%) 44%,
    hsl(357deg 91% 59%) 56%,
    hsl(17deg 100% 59%) 67%,
    hsl(34deg 100% 53%) 78%,
    hsl(45deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%
);
}

#thirdblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#thirdblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.thirdtext {
  font-size: 50px;
  max-width: 80%;
}

.backgroundfourth {
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(
    135deg,
    hsl(240deg 100% 20%) 0%,
    hsl(257deg 49% 31%) 18%,
    hsl(261deg 25% 43%) 26%,
    hsl(264deg 12% 54%) 33%,
    hsl(0deg 0% 66%) 39%,
    hsl(204deg 21% 65%) 44%,
    hsl(203deg 43% 64%) 50%,
    hsl(201deg 65% 61%) 56%,
    hsl(195deg 100% 47%) 61%,
    hsl(198deg 70% 40%) 67%,
    hsl(200deg 56% 28%) 74%,
    hsl(202deg 40% 16%) 82%,
    hsl(0deg 0% 0%) 100%
);
}

#fourthblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#fourthblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.fourthtext {
  font-size: 50px;
  max-width: 80%;
}

.backgroundfive {
  width: 100%;
  height: 100%;
  z-index: 14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(
    315deg,
    hsl(240deg 100% 20%) 0%,
    hsl(257deg 49% 31%) 18%,
    hsl(261deg 25% 43%) 26%,
    hsl(264deg 12% 54%) 33%,
    hsl(0deg 0% 66%) 39%,
    hsl(204deg 21% 65%) 44%,
    hsl(203deg 43% 64%) 50%,
    hsl(201deg 65% 61%) 56%,
    hsl(195deg 100% 47%) 61%,
    hsl(198deg 70% 40%) 67%,
    hsl(200deg 56% 28%) 74%,
    hsl(202deg 40% 16%) 82%,
    hsl(0deg 0% 0%) 100%
);
}

#fiveblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#fiveblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.fivetext {
  font-size: 50px;
  max-width: 80%;
}

.backgroundsix {
  width: 100%;
  height: 100%;
  z-index: 13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(
    315deg,
    hsl(284deg 84% 52%) 0%,
    hsl(284deg 68% 40%) 17%,
    hsl(284deg 59% 27%) 24%,
    hsl(284deg 46% 15%) 31%,
    hsl(0deg 0% 0%) 36%,
    hsl(326deg 45% 13%) 41%,
    hsl(323deg 59% 23%) 46%,
    hsl(321deg 72% 33%) 52%,
    hsl(319deg 91% 40%) 57%,
    hsl(322deg 69% 35%) 63%,
    hsl(325deg 55% 27%) 70%,
    hsl(330deg 41% 18%) 79%,
    hsl(0deg 16% 8%) 99%);
}

#sixblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#sixblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.sixtext {
  font-size: 45px;
  max-width: 80%;
}

.backgroundseven {
  width: 100%;
  height: 100%;
  z-index: 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(
    135deg,
    hsl(284deg 84% 52%) 0%,
    hsl(284deg 68% 40%) 17%,
    hsl(284deg 59% 27%) 24%,
    hsl(284deg 46% 15%) 31%,
    hsl(0deg 0% 0%) 36%,
    hsl(326deg 45% 13%) 41%,
    hsl(323deg 59% 23%) 46%,
    hsl(321deg 72% 33%) 52%,
    hsl(319deg 91% 40%) 57%,
    hsl(322deg 69% 35%) 63%,
    hsl(325deg 55% 27%) 70%,
    hsl(330deg 41% 18%) 79%,
    hsl(0deg 16% 8%) 99%
  );
}

#sevenblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#sevenblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.seventext {
  font-size: 45px;
  max-width: 80%;
}

.backgroundeight {
  width: 100%;
  height: 100%;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(
    135deg,
    hsl(284deg 76% 20%) 0%,
    hsl(284deg 65% 16%) 23%,
    hsl(284deg 54% 12%) 34%,
    hsl(291deg 52% 7%) 43%,
    hsl(0deg 0% 0%) 50%,
    hsl(323deg 30% 10%) 57%,
    hsl(321deg 38% 17%) 64%,
    hsl(320deg 43% 25%) 70%,
    hsl(319deg 47% 32%) 76%,
    hsl(321deg 42% 26%) 82%,
    hsl(324deg 37% 20%) 88%,
    hsl(331deg 29% 14%) 94%,
    hsl(0deg 16% 8%) 100%
  );
}

#eightblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#eightblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.eighttext {
  font-size: 45px;
  max-width: 80%;
}

.backgroundnine {
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(
    135deg,
  hsl(284deg 73% 7%) 0%,
  hsl(286deg 75% 6%) 23%,
  hsl(285deg 78% 4%) 34%,
  hsl(281deg 80% 2%) 43%,
  hsl(0deg 0% 0%) 50%,
  hsl(321deg 52% 4%) 57%,
  hsl(319deg 44% 7%) 64%,
  hsl(319deg 41% 9%) 70%,
  hsl(318deg 45% 11%) 76%,
  hsl(319deg 41% 9%) 82%,
  hsl(319deg 44% 7%) 88%,
  hsl(321deg 52% 4%) 94%,
  hsl(0deg 0% 0%) 100%
);
}

#nineblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#nineblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.ninetext {
  font-size: 45px;
  max-width: 80%;
}

.backgroundten {
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(
    135deg,
    hsl(283deg 75% 5%) 0%,
    hsl(290deg 65% 5%) 25%,
    hsl(297deg 57% 5%) 36%,
    hsl(304deg 51% 6%) 45%,
    hsl(310deg 47% 7%) 53%,
    hsl(316deg 44% 7%) 60%,
    hsl(319deg 43% 7%) 67%,
    hsl(319deg 46% 6%) 74%,
    hsl(320deg 50% 5%) 81%,
    hsl(322deg 53% 3%) 87%,
    hsl(323deg 53% 2%) 94%,
    hsl(0deg 0% 0%) 100%
  );
}

#tenblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#tenblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.tentext {
  font-size: 45px;
  max-width: 80%;
}

.backgroundeleven {
  width: 100%;
  height: 100%;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(
    135deg,
    hsl(283deg 75% 5%) 0%,
    hsl(290deg 65% 5%) 25%,
    hsl(297deg 57% 5%) 36%,
    hsl(304deg 51% 6%) 45%,
    hsl(310deg 47% 7%) 53%,
    hsl(316deg 44% 7%) 60%,
    hsl(319deg 43% 7%) 67%,
    hsl(319deg 46% 6%) 74%,
    hsl(320deg 50% 5%) 81%,
    hsl(322deg 53% 3%) 87%,
    hsl(323deg 53% 2%) 94%,
    hsl(0deg 0% 0%) 100%
  );
}

#elevenblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#elevenblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.eleventext {
  font-size: 30px;
  max-width: 80%;
}

.backgroundtwel {
  width: 100%;
  height: 100%;
  z-index: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-image: linear-gradient(
    135deg,
    hsl(283deg 75% 5%) 0%,
    hsl(290deg 65% 5%) 25%,
    hsl(297deg 57% 5%) 36%,
    hsl(304deg 51% 6%) 45%,
    hsl(310deg 47% 7%) 53%,
    hsl(316deg 44% 7%) 60%,
    hsl(319deg 43% 7%) 67%,
    hsl(319deg 46% 6%) 74%,
    hsl(320deg 50% 5%) 81%,
    hsl(322deg 53% 3%) 87%,
    hsl(323deg 53% 2%) 94%,
    hsl(0deg 0% 0%) 100%
  );
}

#twelblock {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

#twelblock.hidden {
  opacity: 0;
  visibility: hidden;
}

.tweltext {
  font-size: 50px;
  max-width: 80%;
}

.disabled {
  background-color: #e6e6e6;
  color: #999999;
  cursor: not-allowed;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.myslides {
    display: none;
    
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
.next {
  right: 100px;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  overflow: hidden;
  
}

img , video {
  max-width: 900px;
  max-height: 600px;
  width: auto;
  height: auto;
  object-fit: cover;
}

video {
  padding-left: 300px;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}